{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import '@OroDataGrid/macros.html.twig' as dataGrid %}


{% oro_title_set({params : {"%title%": entity.title }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('training_usernaming_list'),
        'indexLabel':  'Naming Types',
        'entityTitle': entity.title,
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    {%- set namingTypeInformation -%}
        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {{ UI.renderProperty('Title', entity.title) }}
                {{ UI.renderSwitchableHtmlProperty('Format', entity.format) }}


                {{ UI.renderSwitchableHtmlProperty('Example', entity.format|name_example) }}
            </div>
        </div>
    {%- endset -%}

    {% set dataBlocks = [
        {
            'title': 'General Information'|trans,
            'subblocks': [
                {'data' : [namingTypeInformation]}
            ]
        }
    ] %}
    {% if is_granted('oro_user_user_view') %}
        {% set dataBlocks = dataBlocks|merge([{
            'title' : 'oro.user.entity_plural_label'|trans,
            'subblocks':
            [
                {
                    'title' : null,
                    'useSpan': false,
                    'data' : [dataGrid.renderGrid('trainig-type-users-grid', {type_id: entity.id}, { cssClass: 'inner-grid' })]
                }
            ]
        }]) %}
    {% endif %}

    {% set id = 'userNamingTypeView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}